<div class="weather" *ngIf="weatherInfo">
    <mat-icon class="weather-city-fav" [ngClass]="{'favorite': isFavorite}" (click)="toggleFavorite()">star</mat-icon>
    <div class="weather-city flex-1">{{weatherInfo.city}}</div>
    <div class="weather-temp flex-1">        
        <span>{{weatherInfo.temperature}} °C</span>
        <small class="weather-temp-real">(Real Feel: {{weatherInfo.feelsLike}} °C)</small>
    </div>
    <div class="weather-description flex-1">{{weatherInfo.description | titlecase }}</div>
    <mat-icon class="weather-icon" title="{{weatherInfo.description | titlecase}}"><img [src]="weatherInfo.iconUrl" [alt]="weatherInfo.description"></mat-icon>
</div>